.wrap {
    background-image: url(../../assets/bg-triangle.svg);
    background-size: cover;
    position: relative;
    width: 18.5rem;
    height: 17rem;
    margin: 10rem auto auto auto;
}
.row {
    display: flex;
    flex-direction: row;
}
.paper {
    background-image: url(../../assets/icon-paper.svg);
    background-size: cover;
    width: 3.5rem;
    display: flex;
    height: 4.1rem;
    margin: .5rem 1.1rem .5rem auto;
}
.scissors {
    background-image: url(../../assets/icon-scissors.svg);
    background-size: cover;
    width: 4.1rem;
    display: flex;
    height: 4.5rem;
    margin: .2rem .5rem .5rem auto;
}
.rock {
    background-image: url(../../assets/icon-rock.svg);
    background-size: cover;
    width:3.8rem;
    height: 3.9rem;
    margin: .6rem .8rem .5rem auto;
    display: flex;

}
.paperWrap {
    position: absolute;
    top: -1.8rem;
    left: -1.2rem;
    width: 6.1rem;
    height: 6.1rem;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to top, rgba(51,123,214,1) 0%, rgba(0,83,176,1) 100%) border-box;
    border-radius: 50%;
    border:8px solid transparent;

}
.paperWrap:active{
    -webkit-box-shadow: 0 21px 10px -5px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 21px 10px -5px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.4) inset;
}
.rockWrap {
    position: absolute;
    width: 6.1rem;
    height: 6.1rem;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(180deg, rgba(200,192,69,1) 0%, rgba(162,133,0,1) 100%) border-box;
    border-radius: 50%;
    border:8px solid transparent;
    right: 5.78rem;
    bottom: -1rem;

}
.rockWrap:active{
    -webkit-box-shadow: 0 21px 10px -5px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 21px 10px -5px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.4) inset;
}
.scissorsWrap {
    position: absolute;
    top: -1.8rem;
    right: -1.2rem;
    width: 6.1rem;
    height: 6.1rem;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(180deg, rgba(200,69,69,1) 0%, rgba(131,0,0,1) 100%) border-box;
    border-radius: 50%;
    border:8px solid transparent;

}
.scissorsWrap:active{
    -webkit-box-shadow: 0 21px 10px -5px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 21px 10px -5px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.4) inset;
}